@import 'variables';

nav.drawer__header,
h1.column-header,
button.column-header__button,
button.column-header__button.active,
div.column-header__collapsible,
div.column-header__collapsible-inner,
a.column-link,
div.column-player,
div.column > div.scrollable,
div.landing-page__call-to-action,
div.compose-form__autosuggest-wrapper > div.autosuggest-textarea > label > textarea.autosuggest-textarea__textarea,
div.compose-form > div.compose-form__modifiers,
div.compose-form > div.compose-form__buttons-wrapper,
div.emoji-mart-bar:first-child,
div.emoji-picker-dropdown__menu > div.emoji-mart > div.emoji-mart-search > input,
div.emoji-mart > div.emoji-mart-search,
div.detailed-status__wrapper div.detailed-status,
div.detailed-status__wrapper div.detailed-status__action-bar,
div.activity-stream > div.entry > div.detailed-status.detailed-status--flex,
input.spoiler-input__input#cw-spoiler-input,
div.activity-stream > div.entry,
div.container-alt > div.accounts-grid,
div.h-feed > data.p-name > div.accounts-grid,
div.container-alt > div.accounts-grid > div.account-grid-card,
div.search > label > input.search__input:focus,
div.search-results__header,
div.search-results__section > h5,
div.trends__item,
button.column-header__back-button,
div.column-back-button.column-back-button--slim-button,
form.column-inline-form,
h1.column-header,
div.item-list > div.public-timeline__section-headline,
div.column > div > div.public-timeline__section-headline,
div.item-list > div.community-timeline__section-headline,
div.column > div > div.community-timeline__section-headline,
div.account-timeline__header > div.account__section-headline,
div.column > button.column-back-button,
div.sidebar > ul > li.selected,
div.sidebar > ul > li.selected > a.selected,
div.sidebar > ul > li.selected > ul,
table.table > thead > tr > th,
table.table > thead > tr > td,
table.table td,
table.table th,
div.landing-page > div.information-board,
div.landing-strip,
div.account__header > div > div.account__header__fields > dl > dt,
div.content > div.flash-message.notice,
div.account__header__fields > dl > dt,
div > div.status.status-direct,
div.alert.flash-message,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option.active,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option.active,
div.privacy-dropdown.active > div.privacy-dropdown__value.active,
div.content-type-dropdown.active > div.content-type-dropdown__value.active,
ul > li.dropdown-menu__item > a:focus,
ul > li.dropdown-menu__item:focus > a,
nav.tabs-bar,
div.log-entry > div.log-entry__extras,
div.flash-message.notice,
div.mute-modal__action-bar,
div.pseudo-drawer,
div.figure.non-interactive,
div.flash-message#error_explanation,
div.entry > div.detailed-status.light,
div.status__wrapper.status__wrapper-direct.focusable,
div.dashboard__counters > div > a,
div.dashboard__counters > div > div,
div.public-layout > div.container div.public-account-bio,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn,
div.public-layout > div.container > nav.header > div.nav-left > a.brand:active,
div.public-account-header > div.public-account-header__image,
div.public-account-header > div.public-account-header__bar,
div.public-account-header > div.public-account-header__bar:before,
div.public-layout div.card__bar,
div.public-layout div.card__img,
form.edit_account div.card__bar,
div.card > a > div.card__bar,
div.batch-table__body > div.batch-table__row,
div.card__bar > div.avatar > img,
div.public-account-header > div.public-account-header__image > img,
div.public-layout > div.container > nav.header,
div.account-timeline__header > div.account__moved-note,
div.keyboard-shortcuts > table > tbody > tr:nth-child(odd),
div.keyboard-shortcuts > table > tbody > tr > td > kbd,
div.status.status-direct.focusable:focus,
div.account-timeline__header > div.account__header,
form.simple_form p.hint code,
div.modal-root__overlay, div.modal-root__container,
div.account-authorize__wrapper > div.account--panel,
.status.status-direct,
.focusable:focus .status.status-direct,
.status.status-direct:not(.read),
.focusable:focus .status.status-direct:not(.read),
.focusable.detailed-status__wrapper > .detailed-status,
.focusable.detailed-status__wrapper > .detailed-status__action-bar,
.notification__filter-bar > button,
.notification__filter-bar,
.introduction__pager,
body div.introduction code,
div.public-layout > div.container > div.page-header,
.status-card .status-card__image,
.grid .directory__tag a,
.form-container .flash-message,
.flash-container .flash-message input.oauth-code,
.compose-form__poll-wrapper ul li .poll__text.editable input,
.compose-form__poll-wrapper .poll__footer select,
.statuses-grid .statuses-grid__item .detailed-status.compact,
section.emoji-mart > .emoji-mart-scroll .emoji-mart-category,
section.emoji-mart > .emoji-mart-scroll .emoji-mart-category .emoji-mart-category-label span,
.drawer .compose-form .compose-form__modifiers,
.compose-panel .compose-form .compose-form__autosuggest-wrapper,
.compose-panel .compose-form .compose-form__uploads-wrapper,
.columns-area .column-inline-form .setting-text,
.public-layout .box-widget div.simple_form__overlay-area > div.simple_form__overlay-area__overlay,
.simple_form__overlay-area .fields-group .input textarea#registration_user_invite_request_attributes_text,
form#new_user .fields-group .input textarea#user_invite_request_attributes_text,
.tabs-bar__wrapper,
#tabs-bar__portal > button.column-back-button,
.public-layout ul.table-of-contents,
.directory__card .directory__card__bar,
.batch-table .input.select select#form_custom_emoji_batch_category_id,
.content .admin-account-bio .account__header__content,
.content .admin-account-bio .account__header__fields,
.compose-form .autosuggest-textarea__suggestions .autosuggest-textarea__suggestions__item.selected,
.compose-form .autosuggest-textarea__suggestions .autosuggest-textarea__suggestions__item:active,
.admin-wrapper .sidebar .sidebar__toggle,
.admin-wrapper .sidebar .sidebar__toggle a:hover,
.admin-wrapper .sidebar .sidebar__toggle a:focus,
.admin-wrapper .sidebar .sidebar__toggle a:active,
form.simple_form div.input span.hint code,
div.content div.label_input textarea.text,
form div.input input[type="text"],
form div.input input[type="email"],
form div.input input[type="password"],
div.content div.input-copy input,
div.content textarea.text,
.report-modal .report-modal__comment textarea.setting-text,
.list-adder .list-adder__lists,
.list-adder .list-adder__account,
.list-adder form.column-inline-form input.setting-text,
.item-list article .conversation.focusable.muted,
.item-list article .conversation.focusable.muted.conversation--unread,
.admin-wrapper .content div.flash-message,
div.content form.simple_form select.select,
div.h-feed div.account__section-headline,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn,
.grid .directory__tag a:active,
.grid .directory__tag a:focus,
.flash-container .flash-message input.oauth-code:focus,
.focusable.detailed-status__wrapper:focus,
div.h-feed div.account__section-headline > a.active,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn:active,
form.edit_account a:active div.card__bar,
div.card > a:active > div.card__bar,
button.status__content__spoiler-link,
button.status__content__spoiler-link.status__content__spoiler-link--show-more,
button.status__content__spoiler-link.status__content__spoiler-link--show-less,
div.status a.status__content__spoiler-link,
div.emoji-mart-category > div.emoji-mart-category-label > span,
div.public-layout div.card-grid > div.card > a:active > div.card__bar,
nav.pagination > span.page.current,
body.embed div.activity-stream div.detailed-status.light,
body.embed div.activity-stream div.entry,
div.hero-widget > div.hero-widget__img,
button.onboarding-modal__nav.onboarding-modal__done,
button.onboarding-modal__nav.onboarding-modal__done:active,
button.onboarding-modal__nav.onboarding-modal__done:focus,
div.h-feed > data.p-name > div.activity-stream-tabs,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible > div,
div.content div.input-copy,
nav.header div.nav-left a.brand:focus,
div.account__header > div,
#mastodon div.columns-area > div.drawer div.drawer__inner,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a,
body.about-body > div.landing-page,
body.no-reduce-motion,
body.error,
div.emoji-picker-dropdown__menu,
div.emoji-mart-scroll,
section.emoji-mart,
section.emoji-mart > .emoji-mart-bar,
body.app-body.no-reduce-motion > div.dropdown-menu,
div.search-popout,
div.drawer__inner.darker,
div.search-results,
div.confirmation-modal__container,
body.app-body > div.privacy-dropdown__dropdown,
body.app-body > div.content-type-dropdown__dropdown,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible,
div.compose-form > div.autosuggest-textarea__suggestions,
.compose-form .autosuggest-textarea__suggestions-wrapper .autosuggest-textarea__suggestions,
div.modal-root__modal.report-modal,
div.modal-root__modal.mute-modal,
div.modal-root__modal.onboarding-modal,
div.modal-root__modal.embed-modal,
div.modal-root__modal.list-adder,
div.confirmation-modal__action-bar,
div.onboarding-modal__paginator,
div.conversation__content div.conversation__content__info div.conversation__content__relative-time span.conversation__unread,
#mastodon div.columns-area div.getting-started,
#mastodon div.columns-area div.getting-started div.getting-started__wrapper,
#mastodon div.columns-area div.getting-started div.getting-started__wrapper .column-subheading,
body.theme-default div.admin-wrapper div.sidebar-wrapper__inner,
body.theme-default .button,
body.theme-default .block-button,
body.theme-default .btn,
body.theme-default div.columns-area div.empty-column-indicator,
.react-toggle.react-toggle--checked .react-toggle-track,
.poll__option input[type=text] {
  background-color: transparent !important;
}

.react-toggle .react-toggle-thumb {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.react-toggle.react-toggle--checked .react-toggle-thumb {
  background-color: rgba(0, 255, 0, 0.5) !important;
  border: none;
}

@media screen and (min-width: 631px) {
  .tabs-bar__link:hover, .tabs-bar__link:focus, .tabs-bar__link:active {
    background: transparent !important;
  }
}

body.embed,
body.app-body,
body div.introduction,
body {
  background-position-x: unset;
  background-position-y: unset;
  background-size: cover !important;
  background: transparent fixed !important;
  background-origin: unset;
  background-clip: unset;
}

