@import 'vapor';

div.ui,
body.admin > div.admin-wrapper {
  background-color: rgba(100, 100, 200, 0.3);
}

body.app-body.theme-ocean,
body.admin.theme-ocean,
body.app-body.theme-ocean-blur,
body.admin.theme-ocean-blur {
  background-image: url("../images/ocean.gif") !important;
  background-size: 100vw 100vh !important;
}

button.column-header__button.active:hover,
a.column-link:hover,
div.column-player > button.column-player__toggle:hover,
a.button.button-alternative-2.webapp-btn:hover,
nav.drawer__header > a.drawer__tab:hover,
button.load-more:hover {
  animation: shake 10s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

div.ui .column .getting-started {
  overflow: hidden;
}

body.about-body > div.landing-page,
body.no-reduce-motion,
body.error,
div.emoji-picker-dropdown__menu,
div.emoji-mart-scroll,
section.emoji-mart,
section.emoji-mart > .emoji-mart-bar,
body.app-body.no-reduce-motion > div.dropdown-menu,
div.search-popout,
div.drawer__inner.darker,
div.search-results,
div.confirmation-modal__container,
body.app-body > div.privacy-dropdown__dropdown,div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible,
div.compose-form > div.autosuggest-textarea__suggestions,
.compose-form .autosuggest-textarea__suggestions-wrapper .autosuggest-textarea__suggestions,
div.modal-root__modal.report-modal,
div.modal-root__modal.mute-modal,
div.modal-root__modal.onboarding-modal,
div.modal-root__modal.embed-modal,
button.status__content__spoiler-link.status__content__spoiler-link--show-more,
button.status__content__spoiler-link.status__content__spoiler-link--show-less {
  background: rgba(231, 200, 255, 0.9);
}
