/// Shake animation
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, -1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 2px, 0);
  }

  40%, 60% {
    transform: translate3d(3px, -3px, 0);
  }
}

@import 'vapor/variables';
@import 'application';
@import 'vapor/diff';
@import 'vapor/ui-background';
@import 'vapor/ui-transparency';
@import 'vapor/ui-borders';
// @import 'vapor/assistant';

.emoji-picker-dropdown__menu > section.emoji-mart {
  border-bottom-color: transparent;

  .emoji-mart-search {
    background-color: transparent;

    input {
      background-color: transparent;
      border-color: $vapor-highlight;
    }
  }
}

::selection {
  background: $vapor-blue;
  color: black;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

.status-card__actions button,
.status-card__actions a {
  color: white;
}

html {
  scrollbar-color: rgba(110, 110, 217, 0.3) rgba(217, 225, 232, 0.2);
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 225, 232, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.3);
}

.status-card .status-card__content strong,
.status-card .status-card__content span,
#tabs-bar__portal > button.column-back-button,
.placeholder-widget a,
.back-link a {
  color: $primary-text-color;
}

div.navigation-panel a.column-link.active {
  color: lighten($vapor-highlight, 15%);
}

div.compose__action-bar div.compose__action-bar-dropdown button.icon-button {
  color: lighten($vapor-highlight, 15%);

  &.disabled {
    color: #555;
  }
}

.compose-panel .compose-form .compose-form__modifiers {
  background-color: transparent;
}

.columns-area__panels__pane .columns-area__panels__pane__inner .navigation-panel hr {
  visibility: hidden;
}

div.account-timeline__header > div.account__header {
  background-image: none;
}

div.keyboard-shortcuts > table > tbody > tr > td {
  padding-top: 8px;
}

div.public-layout > div.container > nav.header,
div.public-layout > div.container > nav.header > div.grid-container {
  overflow: hidden;
}

div.public-layout > div.container > nav.header {
  > div.nav-left,
  > div.nav-center,
  > div.nav-right {
    z-index: 1;
  }
}

div.public-layout > div.container > nav.header a.brand > img {
  width: 128px;
}

@keyframes gridMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

div.public-layout div.grid-container {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  svg#header-grid {
    z-index: 0;
    height: 100%;
    width: 100%;
    background: none;
    transform: scale(10, 4);
  }
}

div.public-layout path.horizontal, path.vertical {
  stroke: $vapor-highlight;
  opacity: .7;
  z-index: 0;
}

div.public-layout path.horizontal {
  stroke-width: 3px;

}

div.public-layout path.vertical {
  stroke-width: 2px;

}

div.public-layout path.horizontal {
  animation-name: gridMove;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

div.notification-bar.notification-bar-active {
  background-color: rgba(217, 225, 232, 0.8);
}

audio.react-audio-player {
  visibility: hidden;
}

a.brand > span.brand__tagline {
  bottom: -40px;
  color: rgba(0, 0, 0, 0.8);
}

div.content form.simple_form select.select {
  background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#2b90d9'/></svg>") no-repeat right 8px center/auto 16px;
}

form div.input {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=text]:hover,
  input[type=number]:hover,
  input[type=email]:hover,
  input[type=password]:hover,
  input[type=text]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  .simple_form__overlay-area textarea#user_invite_request_attributes_text,
  .simple_form__overlay-area textarea#user_invite_request_attributes_text:focus {
    background: transparent;
    border-color: $vapor-highlight;
  }
}

div.landing-page > div.information-board > div.container-alt > div.panel,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions {
  background-color: rgb(186, 168, 238);
}

div.account-grid-card > div.account-grid-card__header > div.controls > a.icon-button,
a.button.button-alternative {
  color: white;
}

div.h-feed > data.p-name > div.activity-stream-tabs > a {
  color: $dark-text-color;

  &.active {
    color: $black;
  }
}

div.landing-page__forms > a.button.button-alternative-2.webapp-btn {
  background-color: rgba(100, 100, 100, 0.2);
}

button.column-header__button.active:hover,
a.column-link:hover,
div.column-player > button.column-player__toggle:hover,
a.button.button-alternative-2.webapp-btn:hover,
nav.drawer__header > a.drawer__tab:hover,
button.load-more:hover {
  background-color: rgba(43, 144, 217, 0.2);
  animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(43, 144, 217, 0.2);
  animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

div.compose-form > div.compose-form__buttons-wrapper i.fa,
div.compose-form > div.compose-form__buttons-wrapper button.text-icon-button,
div.compose-form > div.compose-form__buttons-wrapper > div.character-counter__wrapper > span.character-counter {
  color: #585858;
}

div.landing-page__short-description > div.row > h1 {
  font-weight: 100;
  font-family: 'mastodon-font-sans-serif', sans-serif;
}

div.landing-page__short-description > div.row > h1:not(small) {
  font-family: monospace;
}

div.compose-form > div.compose-form__buttons-wrapper > div.character-counter__wrapper > span.character-counter.character-counter--over {
  color: #a14545;
}

div.account-card > div.detailed-status__display-name > span.display-name > a.detailed-status__display-name.p-author.h-card > strong,
div.column > button.column-back-button,
div.account__header span.account__header__username,
h1.column-header > div.column-header__buttons > button.column-header__back-button,
div.column-back-button--slim > div.column-back-button.column-back-button--slim-button,
h1.column-header > button.column-header__back-button,
nav.drawer__header > a.drawer__tab,
div.column-header__buttons > button.column-header__button,
div.search > div.search__icon > i.fa,
div.search > label > input.search__input,
textarea.autosuggest-textarea__textarea,
textarea.text.optional,
form.column-inline-form > label > input.setting-text,
div.column-settings__row > label > input.setting-text,
form > div input,
div.account--action-button > button > i.fa.fa-pencil,
div.account-timeline__header > div > div.account__action-bar > div.account__action-bar-dropdown > div > button.icon-button > i.fa,
div.account-timeline__header > div > div.account__action-bar > div.account__action-bar-links > a.account__action-bar__tab > span,
div.account-timeline__header > div.account__section-headline > a,
div.item-list > div.public-timeline__section-headline > a,
div.column > div > div.public-timeline__section-headline > a,
div.item-list > div.community-timeline__section-headline > a,
div.column > div > div.community-timeline__section-headline > a,
div.account-timeline__header > div.account__section-headline > a,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option.active > div.privacy-dropdown__option__content,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option.active > div.privacy-dropdown__option__content > strong,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option:not(.active):hover > div.privacy-dropdown__option__content,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option:not(.active):hover > div.privacy-dropdown__option__content > strong,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option.active > div.content-type-dropdown__option__content,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option.active > div.content-type-dropdown__option__content > strong,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option:not(.active):hover > div.content-type-dropdown__option__content,
body.app-body > div.content-type-dropdown__dropdown > div.content-type-dropdown__option:not(.active):hover > div.content-type-dropdown__option__content > strong,
ul > li.dropdown-menu__item:hover > a,
ul > li.dropdown-menu__item > a:focus,
ul > li.dropdown-menu__item:focus > a,
.admin-wrapper .sidebar ul ul a.selected {
  color: #222222;
}

textarea.autosuggest-textarea__textarea::placeholder,
div.search > label > input.search__input::placeholder,
form.column-inline-form > label > input.setting-text::placeholder,
div.column-settings__row > label > input.setting-text::placeholder,
form > div input::placeholder,
textarea.text.optional::placeholder {
  color: #444444;
}

div.drawer__inner__mastodon {
  background-color: transparent;

  & > img {
    opacity: 0.6;
  }
}

div.row__mascot > div.landing-page__mascot > img {
  position: absolute;
  left: 0;
  top: -10px;
}

div.landing-page__logo > img {
  mix-blend-mode: normal;
}

div.admin-wrapper div.content-wrapper > div.content h2 {
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

.compose-form__poll-wrapper .poll__footer button.button.button-secondary,
.account__header__tabs__buttons button.icon-button {
  border-color: $vapor-highlight;
  color: $vapor-highlight;
}

.introduction__dots > .introduction__dot {
  border-color: $vapor-highlight;

  &.active {
    background-color: $vapor-highlight;
  }
}


.compose-form__poll-wrapper ul li .icon-button,
.list-adder button.icon-button {
  color: $vapor-highlight;

  &.disabled {
    color: #555;
  }
}

.landing-page .separator-or span,
.account__header__tabs__buttons .button.logo-button {
  background-color: $vapor-highlight;
  color: white;
}

div.public-account-header > div.public-account-header__bar > a.avatar > img {
  border-color: rgba(217, 225, 232, 0.2);
}

a.mention.hashtag.status-link {
  color: #353c64;
}

div.card > div.card__bio {
  background-color: rgba(200, 168, 255, 0.9);
}

div.card__illustration > div.controls > a.icon-button {
  color: #292929;
}

div.modal-root > div > div.modal-root__overlay {
  color: rgba(28, 28, 28, 0.8)
}

form.table-form div.warning,
form.simple-form div.warning {
  background: rgba(223, 43, 42, 0.6);
  color: white;

  & a {
    color: white;
  }
}

body .warning-hint, .admin-wrapper .content .warning-hint {
  color: $hint-warning-color;
}

div.onboarding-modal__paginator button.onboarding-modal__nav.onboarding-modal__next:focus,
div.onboarding-modal__paginator button.onboarding-modal__nav.onboarding-modal__next:hover,
div.onboarding-modal__paginator button.onboarding-modal__nav.onboarding-modal__next:active,
div.entry > div.detailed-status.light > a.button.button-secondary.logo-button,
div.entry > div.detailed-status > a.button.logo-button,
div.public-account-header__tabs__tabs > div.public-account-header__tabs__tabs__buttons > a.button.logo-button,
div.content div.input-copy button[type=button],
div.content div.actions > button,
div.content a.button,
div.content a.block-button {
  background-color: $classic-highlight-color;
  color: white;
}

div.getting-started__wrapper > div.column-subheading {
  color: #181818;
}

div.landing-page__forms form.new_user > p.hint a {
  color: #181818;
  text-decoration: underline;
}

div.public-account-header > div.public-account-header__image > img {
  opacity: 0.8;
}

div.public-layout div.footer > div.grid > div.column-2 > h4,
div.public-layout div.footer > div.grid > div.column-2 > h4 > a {
  color: #3e3e3e
}

div.public-layout div.footer > div.grid ul > li,
div.public-layout div.footer > div.grid ul > li > a {
  color: #454545;
}

div.public-account-header div.public-account-header__tabs > div.public-account-header__tabs__name > h1,
div.public-account-header div.public-account-header__tabs > div.public-account-header__tabs__name > h1 > small {
  color: white;
  text-shadow: 1px 1px 1px lighten($base-shadow-color, 20%);
}

div.public-layout > div.grid-3 > div.column-3 > div.box-widget a {
  color: #242735;
}

.contact .account .display-name .display-name__account:before {
  content: '\A';
}

section.emoji-mart-category > .emoji-mart-category-label {
  backdrop-filter: blur(5px);
}

label.radio-button > span.radio-button__input {
  border-color: $vapor-highlight;

  &.checked {
    background-color: $vapor-highlight;
  }
}

.public-layout .public-account-header__bar::before,
.poll ul li .poll__chart,
section.emoji-mart > .emoji-mart-scroll .emoji-mart-emoji:hover::before {
  background-color: $vapor-highlight;
}

div.columns-area > div.column > div.getting-started {
  overflow: hidden;
}
