@import 'variables';

body.about-body > div.landing-page,
body.no-reduce-motion,
body.error,
div.emoji-picker-dropdown__menu,
div.emoji-mart-scroll,
section.emoji-mart,
section.emoji-mart > .emoji-mart-bar,
body.app-body.no-reduce-motion > div.dropdown-menu,
div.search-popout,
div.drawer__inner.darker,
div.search-results,
div.confirmation-modal__container,
body.app-body > div.privacy-dropdown__dropdown,
body.app-body > div.content-type-dropdown__dropdown,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible,
div.compose-form > div.autosuggest-textarea__suggestions,
.compose-form .autosuggest-textarea__suggestions-wrapper .autosuggest-textarea__suggestions,
div.modal-root__modal.report-modal,
div.modal-root__modal.mute-modal,
div.modal-root__modal.onboarding-modal,
div.modal-root__modal.embed-modal,
div.modal-root__modal.list-adder {
  background-image: linear-gradient($vapor-pink, $vapor-blue);
}

div.confirmation-modal__action-bar,
div.onboarding-modal__paginator {
  background-image: linear-gradient($vapor-blue, $vapor-pink);
}

body.embed,
body.app-body,
body div.introduction,
body {
  background-image: linear-gradient($vapor-pink, $vapor-blue) !important;
  background-color: transparent !important;
  background-position-x: unset;
  background-position-y: unset;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-origin: unset;
  background-clip: unset;
}

div.conversation__content div.conversation__content__info div.conversation__content__relative-time span.conversation__unread {
  background: $vapor-highlight;
}
