@import 'variables';

nav.drawer__header,
h1.column-header,
button.column-header__button,
button.column-header__button.active,
div.column-header__collapsible,
div.column-header__collapsible-inner,
a.column-link,
div.column-player,
div.column-player:hover,
::-webkit-scrollbar-thumb,
div.column > div.scrollable,
div.landing-page__call-to-action,
div.compose-form__autosuggest-wrapper > div.autosuggest-textarea > label > textarea.autosuggest-textarea__textarea,
div.compose-form > div.compose-form__modifiers,
div.compose-form > div.compose-form__buttons-wrapper,
div.emoji-mart-bar:first-child,
div.emoji-picker-dropdown__menu > div.emoji-mart > div.emoji-mart-search > input,
div.emoji-mart > div.emoji-mart-search,
div.detailed-status__wrapper div.detailed-status,
div.detailed-status__wrapper div.detailed-status__action-bar,
div.activity-stream > div.entry > div.detailed-status.detailed-status--flex,
input.spoiler-input__input#cw-spoiler-input,
div.activity-stream > div.entry,
div.container-alt > div.accounts-grid,
div.h-feed > data.p-name > div.accounts-grid,
div.container-alt > div.accounts-grid > div.account-grid-card,
div.search > label > input.search__input:focus,
div.search-results__header,
div.search-results__section > h5,
div.trends__item,
button.column-header__back-button,
div.column-back-button.column-back-button--slim-button,
form.column-inline-form,
h1.column-header,
div.item-list > div.public-timeline__section-headline,
div.column > div > div.public-timeline__section-headline,
div.item-list > div.community-timeline__section-headline,
div.column > div > div.community-timeline__section-headline,
div.account-timeline__header > div.account__section-headline,
div.column > button.column-back-button,
div.sidebar > ul > li.selected,
div.sidebar > ul > li.selected > a.selected,
div.sidebar > ul > li.selected > ul,
table.table > thead > tr > th,
table.table > thead > tr > td,
table.table td,
table.table th,
div.landing-page > div.information-board,
div.landing-strip,
div.account__header > div > div.account__header__fields > dl > dt,
div.content > div.flash-message.notice,
div.account__header__fields > dl > dt,
div > div.status.status-direct,
div.alert.flash-message,
body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option.active,
div.privacy-dropdown.active > div.privacy-dropdown__value.active,
ul > li.dropdown-menu__item > a:focus,
ul > li.dropdown-menu__item:focus > a,
nav.tabs-bar,
div.log-entry > div.log-entry__extras,
div.flash-message.notice,
div.mute-modal__action-bar,
div.pseudo-drawer,
div.figure.non-interactive,
div.flash-message#error_explanation,
div.entry > div.detailed-status.light,
div.status__wrapper.status__wrapper-direct.focusable,
div.dashboard__counters > div > a,
div.dashboard__counters > div > div,
div.public-layout > div.container div.public-account-bio,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn,
div.public-layout > div.container > nav.header > div.nav-left > a.brand:hover,
div.public-layout > div.container > nav.header > div.nav-left > a.brand:active,
div.h-feed div.account__section-headline > a:hover,
div.public-account-header > div.public-account-header__image,
div.public-account-header > div.public-account-header__bar,
div.public-account-header > div.public-account-header__bar:before,
div.public-layout div.card__bar,
div.public-layout div.card__img,
form.edit_account div.card__bar,
div.card > a > div.card__bar,
div.batch-table__body > div.batch-table__row,
div.card__bar > div.avatar > img,
div.public-account-header > div.public-account-header__image > img,
div.public-layout > div.container > nav.header,
div.account-timeline__header > div.account__moved-note,
div.keyboard-shortcuts > table > tbody > tr:nth-child(odd),
div.keyboard-shortcuts > table > tbody > tr > td > kbd,
div.status.status-direct.focusable:focus,
div.report-card__summary > div.report-card__summary__item:hover,
div.account-timeline__header > div.account__header,
form.simple_form p.hint code,
div.modal-root__overlay, div.modal-root__container,
div.account-authorize__wrapper > div.account--panel,
.status.status-direct,
.focusable:focus .status.status-direct,
.status.status-direct:not(.read),
.focusable:focus .status.status-direct:not(.read),
.focusable.detailed-status__wrapper > .detailed-status,
.focusable.detailed-status__wrapper > .detailed-status__action-bar,
.status .status-card:hover,
.status .status-card.compact:hover,
.notification__filter-bar > button,
.notification__filter-bar,
.introduction__pager,
body div.introduction code,
div.public-layout > div.container > div.page-header,
.status-card .status-card__image,
.grid .directory__tag a,
.form-container .flash-message,
.flash-container .flash-message input.oauth-code,
.compose-form__poll-wrapper ul li .poll__text.editable input,
.compose-form__poll-wrapper .poll__footer select,
.statuses-grid .statuses-grid__item .detailed-status.compact,
section.emoji-mart > .emoji-mart-scroll .emoji-mart-category,
section.emoji-mart > .emoji-mart-scroll .emoji-mart-category .emoji-mart-category-label span,
.drawer .compose-form .compose-form__modifiers,
.compose-panel .compose-form .compose-form__autosuggest-wrapper,
.compose-panel .compose-form .compose-form__uploads-wrapper,
.columns-area .column-inline-form .setting-text,
.public-layout .box-widget div.simple_form__overlay-area > div.simple_form__overlay-area__overlay,
.simple_form__overlay-area .fields-group .input textarea#registration_user_invite_request_attributes_text,
.tabs-bar__wrapper,
#tabs-bar__portal > button.column-back-button,
.public-layout ul.table-of-contents,
.directory__card .directory__card__bar,
.batch-table .input.select select#form_custom_emoji_batch_category_id,
.content .admin-account-bio .account__header__content,
.content .admin-account-bio .account__header__fields,
div.landing-page__forms > a.button.button-alternative-2.webapp-btn:hover,
div.emoji-mart-scroll > div.emoji-mart-category .emoji-mart-emoji:hover::before,
.compose-form .autosuggest-textarea__suggestions .autosuggest-textarea__suggestions__item.selected,
.compose-form .autosuggest-textarea__suggestions .autosuggest-textarea__suggestions__item:hover,
.compose-form .autosuggest-textarea__suggestions .autosuggest-textarea__suggestions__item:active {
  background: rgba(217, 225, 232, 0.2) !important;
}

body.app-body > div.privacy-dropdown__dropdown > div.privacy-dropdown__option:not(.active):hover,
ul > li.dropdown-menu__item:hover > a,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible > div:hover,
div.detailed-status .status-card:hover,
div.activity-stream div.detailed-status.light .status-card:hover,
div.dashboard__counters > div > a:hover,
div.dashboard__counters > div > div:hover,
div.h-feed div.account__section-headline,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn,
div.activity-stream > div.entry > a.load-more.load-gap:hover,
.grid .directory__tag a:hover,
.grid .directory__tag a:active,
.grid .directory__tag a:focus,
.flash-container .flash-message input.oauth-code:focus,
.directory > .directory__tag a:hover,
.focusable.detailed-status__wrapper:focus,
.batch-table .batch-table__body .batch-table__row:nth-child(2n):hover {
  background-color: rgba(211, 211, 211, 0.3);
}

div.h-feed div.account__section-headline > a.active,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn:hover,
div.public-layout > div.container > nav.header > div.nav-right > a.nav-link.nav-button.webapp-btn:active,
form.edit_account a:hover div.card__bar,
form.edit_account a:active div.card__bar,
div.card > a:hover > div.card__bar,
div.card > a:active > div.card__bar,
button.status__content__spoiler-link.status__content__spoiler-link--show-more,
button.status__content__spoiler-link.status__content__spoiler-link--show-less,
div.status a.status__content__spoiler-link,
div.emoji-mart-category > div.emoji-mart-category-label > span {
  background-color: rgba(211, 211, 211, 0.4);
}

div.public-layout div.card-grid > div.card > a:hover > div.card__bar,
div.public-layout div.card-grid > div.card > a:active > div.card__bar,
nav.pagination > span.page.current {
  background-color: rgba(211, 211, 211, 0.6);
}

body.embed div.activity-stream div.detailed-status.light,
body.embed div.activity-stream div.entry,
div.hero-widget > div.hero-widget__img,
button.onboarding-modal__nav.onboarding-modal__done,
button.onboarding-modal__nav.onboarding-modal__done:active,
button.onboarding-modal__nav.onboarding-modal__done:hover,
button.onboarding-modal__nav.onboarding-modal__done:focus,
div.h-feed > data.p-name > div.activity-stream-tabs,
div.autosuggest-textarea > div.autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible > div,
button.status__content__spoiler-link.status__content__spoiler-link--show-more:hover,
button.status__content__spoiler-link.status__content__spoiler-link--show-less:hover,
div.status a.status__content__spoiler-link:hover,
div.getting-started__wrapper div.column-player > button.column-player__toggle:hover,
div.content div.label_input textarea.text,
div.content textarea.text,
div.content div.input-copy,
div.content div.input-copy input,
nav.header div.nav-left a.brand:focus,
div.account__header > div {
  background-color: transparent;
}

div.admin-wrapper div.sidebar ul a:hover,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
  background-color: rgba(43, 144, 217, 0.2);
}
